<div class="flex flex-col justify-center items-center">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="px-6 sm:py-8 py-0 mx-auto lg:py-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
        >
          O nas
        </h1>
        <div class="w-100 flex justify-center">
          <img
            src="../../../../assets/images/logo.png"
            alt="Logo"
            class="w-52"
          />
        </div>

        <div class="w-100 sm:flex gap-3 justify-center flex-col">
          <div>
            <h1 class="text-lg font-bold">O Nas</h1>
            <p class="indent-5">
              Witajcie na naszym portalu regionalnie live dla kibiców piłki
              nożnej! Jesteśmy zespołem pasjonatów sportu, którzy postanowili
              stworzyć to miejsce dla wszystkich miłośników piłki nożnej, aby
              mogli cieszyć się relacjami na żywo z meczów oraz bieżącymi
              wynikami. Naszym celem jest dostarczanie wam najnowszych
              informacji w czasie rzeczywistym, abyście mogli być na bieżąco ze
              wszystkimi wydarzeniami związanych z waszymi ulubionymi drużynami.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Nasza Historia</h1>
            <p class="indent-5">
              Nasz pomysł narodził się z pasji do piłki nożnej i pragnienia
              dzielenia się tą pasją z innymi. Długo zastanawialiśmy się, jak
              możemy dostarczyć kibicom autentyczną i ekscytującą atmosferę
              meczów, nawet jeśli nie są w stanie być na stadionie osobiście. To
              właśnie stąd wziął się nasz portal - abyście mogli przeżywać
              emocje każdego strzału, bramki i decyzji sędziów razem z nami.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Nasz Zespół</h1>
            <p class="indent-5">
              Nasz zespół składa się z doświadczonych entuzjastów piłki nożnej,
              którzy mają wiele lat doświadczenia zarówno w śledzeniu meczów,
              jak i w obszarze technologii internetowych. To połączenie pasji
              sportowej z wiedzą techniczną pozwala nam dostarczać wam
              najwyższej jakości treści i usługi. Poznaj naszych głównych
              członków:
            </p>
            <p class="indent-5">
              Marcin Chowaniec - Założyciel portalu, pasjonat piłki nożnej od
              dziecka. Odpowiada za strategię i rozwój portalu. Doświadczony
              dziennikarz sportowy, monitoruje i relacjonuje na żywo każdy mecz.
              Ekspert techniczny, zapewnia płynne działanie platformy i
              nowoczesne rozwiązania.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Misja i Wartości</h1>
            <p class="indent-5">
              Nasza misja polega na tworzeniu atrakcyjnego i angażującego
              środowiska dla kibiców piłki nożnej z całego regionu. Chcemy,
              abyście czuli się jak w domu na naszym portalu, dzieląc się
              emocjami z innymi kibicami i doświadczając piłki nożnej na nowy
              sposób. Nasze wartości to pasja, wiarygodność, wspólnota i
              innowacyjność.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Wizja Rozwoju</h1>
            <p class="indent-5">
              Nasza pasja do piłki nożnej napędza nas do ciągłego rozwoju.
              Planujemy rozszerzyć nasz zakres relacji na żywo, wprowadzić
              interaktywne elementy dla użytkowników oraz dostarczyć jeszcze
              więcej zaawansowanych statystyk i analiz meczów.
            </p>
          </div>

          <div class="flex justify-center mt-3">
            <button
              type="submit"
              class="sm:w-1/2 w-100 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              (click)="navigateToDashboard()"
            >
              Powrót
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
