<div class="flex min-h-full">
  <div
    class="flex justify-center min-w-full bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <app-loading-ball *ngIf="loadingBall; else content"></app-loading-ball>
    <ng-template #content>
      <div class="w-4/5 py-0 mx-auto">
        <div class="flex justify-center py-3">
          <h1 class="p-5 font-bold dark:text-white text-black text-3xl">
            Lista użytkowników
          </h1>
        </div>
        <div
          *ngIf="this.users.length === 0"
          class="flex justify-center items-center my-3"
        >
          <p class="font-bold text-xl text-red-600">Brak użytkowników</p>
        </div>
        <ul
          *ngFor="let user of users"
          class="divide-y divide-gray-200 dark:divide-gray-700"
        >
          <li class="bg-white dark:bg-black rounded-lg p-3 my-3">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img
                  class="w-12 h-12 rounded-full bg-white"
                  src="{{
                user?.img !== ''
                  ? user.img
                  : '../../../../../assets/images/userProfile.png'
              }}"
                  alt="LOGO"
                />
              </div>
              <div class="flex-1 min-w-0">
                <p
                  class="text-lg font-bold text-black truncate dark:text-white"
                >
                  {{user.username}}
                </p>
                <p class="text-md text-black truncate dark:text-gray-400">
                  {{user.email}}
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div *ngIf="this.users.length !== 0" class="flex justify-center">
          <p
            routerLink="/admin/uzytkownicy"
            class="cursor-pointertext-blue-700 dark:text-white hover:text-blue-800 dark:hover:text-yellow-300 text-lg"
          >
            Zobacz więcej użytkowników
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
