<div class="min-h-screen flex justify-center items-center">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding backdrop-blur-sm bg-opacity-40 duration-500 text-gray-900 px-3.5 w-9/12 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:backdrop-blur-lg dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="px-6 sm:py-8 py-0 mx-auto lg:py-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
        >
          Regulamin Portalu RegionalnieLive - Wersja 1.0
        </h1>
        <div class="w-100 flex justify-center">
          <img
            src="../../../../assets/images/logo.png"
            alt="Logo"
            class="w-52"
          />
        </div>

        <div class="w-100 hidden sm:flex justify-center flex-col">
          <div>
            <h1 class="text-lg font-bold">1. Definicje</h1>
            <p class="indent-5">
              1.1. "Portal" oznacza portal internetowy o tematyce piłkarskiej
              udostępniany pod adresem [adres_strony].
            </p>
            <p class="indent-5">
              1.2. "Użytkownik" oznacza osobę, która korzysta z zasobów i usług
              dostępnych na Portalu.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">2. Warunki Uczestnictwa</h1>
            <p class="indent-5">
              2.1. Korzystając z Portalu, Użytkownik akceptuje niniejszy
              regulamin oraz Politykę Prywatności.
            </p>
            <p class="indent-5">
              2.2. Użytkownik zobowiązuje się do dostarczania prawdziwych,
              aktualnych i kompletnych informacji podczas procesu rejestracji.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">3. Zasady Fair Play</h1>
            <p class="indent-5">
              3.1. Użytkownicy zobowiązują się do zachowania szacunku wobec
              innych Użytkowników.
            </p>
            <p class="indent-5">
              3.2. Zabronione jest publikowanie, przesyłanie lub udostępnianie
              treści obraźliwych, wulgarnych, pornograficznych, nawołujących do
              przemocy lub naruszających prawa autorskie.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">4. Polityka Prywatności</h1>
            <p class="indent-5">
              4.1. Dane osobowe przetwarzane są zgodnie z Polityką Prywatności
              Portalu, dostępną na [adres_polityki_prywatnosci].
            </p>
            <p class="indent-5">
              4.2. Użytkownicy wyrażają zgodę na przetwarzanie ich danych
              zgodnie z Polityką Prywatności.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">5. Wyniki na Żywo</h1>
            <p class="indent-5">
              5.1. Portal prezentuje wyniki na żywo uzyskiwane z zewnętrznych
              źródeł. Opóźnienia mogą się zdarzać.
            </p>
            <p class="indent-5">
              5.2. Portal nie ponosi odpowiedzialności za ewentualne błędy w
              prezentowanych wynikach ani za ich dokładność.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">6. Prawa Autorskie</h1>
            <p class="indent-5">
              6.1. Treści, zdjęcia, grafiki i inne materiały prezentowane na
              Portalu mogą być chronione prawem autorskim.
            </p>
            <p class="indent-5">
              6.2. Kopiowanie, rozpowszechnianie lub wykorzystywanie tych
              materiałów bez zgody właściciela praw autorskich jest zabronione.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">7. Zmiany Regulaminu</h1>
            <p class="indent-5">
              7.1. Portal zastrzega sobie prawo do wprowadzania zmian w
              regulaminie w dowolnym czasie.
            </p>
            <p class="indent-5">
              7.2. Użytkownicy zostaną poinformowani o zmianach poprzez
              wiadomość na swoich kontach.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">8. Odpowiedzialność</h1>
            <p class="indent-5">
              8.1. Użytkownik korzysta z Portalu na własne ryzyko.
            </p>
            <p class="indent-5">
              8.2. Portal nie ponosi odpowiedzialności za szkody wynikłe z
              korzystania z zasobów Portalu.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">9. Postanowienia Końcowe</h1>
            <p class="indent-5">
              9.1. Niniejszy regulamin stanowi wiążącą umowę między
              Użytkownikiem a Portalem.
            </p>
            <p class="indent-5">
              9.2. Wszelkie spory wynikające z korzystania z Portalu będą
              rozstrzygane zgodnie z obowiązującym prawem lokalnym.
            </p>
            <p class="indent-5">
              9.3. W razie naruszenia regulaminu, Portal zastrzega sobie prawo
              do zablokowania konta Użytkownika.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">10. Kontakt</h1>
            <p class="indent-5">
              10.1. W przypadku pytań lub uwag dotyczących regulaminu, prosimy o
              kontakt na adres [adres_kontaktowy].
            </p>
          </div>
        </div>

        <div class="flex justify-center mt-3">
          <button
            type="submit"
            class="sm:w-1/2 w-100 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            (click)="navigateToRegistration()"
          >
            Powrót
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
