<div class="min-h-screen flex justify-center items-center">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 px-3.5 w-[450px] dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <app-loading-ball *ngIf="loadingBall; else form"></app-loading-ball>
    <ng-template #form>
      <div class="px-6 py-8 mx-auto lg:py-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
          >
            Rejestracja
          </h1>
          <form
            class="space-y-6"
            [formGroup]="registrationForm"
            (ngSubmit)="onSubmit()"
          >
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                E-mail
              </label>
              <input
                type="email"
                id="email"
                formControlName="email"
                required
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="nazwa@poczta.pl"
              />
              <div class="h-2">
                <span
                  *ngIf="
                    (registrationForm.get('email')?.touched &&
                      (registrationForm.get('email')?.hasError('required') ||
                        registrationForm.get('email')?.hasError('pattern'))) ||
                    (registrationForm.get('email')?.invalid &&
                      registrationForm?.invalid &&
                      required)
                  "
                  class="text-red-600 text-sm mt-1"
                >
                  <ng-container
                    *ngIf="registrationForm.get('email')?.hasError('required')"
                  >
                    Pole jest wymagane.
                  </ng-container>
                  <ng-container
                    *ngIf="registrationForm.get('email')?.hasError('pattern')"
                  >
                    Niepoprawny format adresu e-mail.
                  </ng-container>
                </span>
              </div>
            </div>
            <div>
              <label
                for="username"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Nazwa użytkownika
              </label>
              <input
                type="text"
                id="username"
                formControlName="username"
                required
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="nazwa"
              />
              <div class="h-2">
                <span
                  *ngIf="
                    (registrationForm.get('username')?.invalid &&
                      registrationForm.get('username')?.touched) ||
                    (registrationForm.get('username')?.invalid &&
                      registrationForm?.invalid &&
                      required)
                  "
                  class="text-red-600 text-sm mt-1"
                >
                  Pole jest wymagane.
                </span>
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Hasło
              </label>
              <div class="relative">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  id="password"
                  placeholder="••••••••"
                  formControlName="password"
                  required
                  class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
                <button
                  mat-icon-button
                  class="absolute right-2 top-1/2 -translate-y-1/2"
                  (click)="hidePassword = !hidePassword"
                  type="button"
                  aria-label="Toggle password visibility"
                >
                  <mat-icon>
                    {{ hidePassword ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
              </div>
              <div class="h-2">
                <span
                  *ngIf="
                    (registrationForm.get('password')?.touched &&
                      (registrationForm.get('password')?.hasError('required') ||
                        registrationForm
                          .get('password')
                          ?.hasError('pattern'))) ||
                    (registrationForm.get('password')?.invalid &&
                      registrationForm?.invalid &&
                      required)
                  "
                  class="text-red-600 text-sm mt-1"
                >
                  <ng-container
                    *ngIf="
                      registrationForm.get('password')?.hasError('required')
                    "
                  >
                    Pole jest wymagane.
                  </ng-container>
                  <ng-container
                    *ngIf="
                      registrationForm.get('password')?.hasError('pattern')
                    "
                  >
                    Hasło musi zawierać conajmniej 8 znaków.
                  </ng-container>
                </span>
              </div>
            </div>
            <div>
              <label
                for="passwordRepeat"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Powtórz hasło
              </label>
              <div class="relative">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  id="passwordRepeat"
                  placeholder="••••••••"
                  formControlName="passwordRepeat"
                  required
                  class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
                <button
                  mat-icon-button
                  class="absolute right-2 top-1/2 -translate-y-1/2"
                  (click)="hidePassword = !hidePassword"
                  type="button"
                  aria-label="Toggle password visibility"
                >
                  <mat-icon>
                    {{ hidePassword ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
              </div>
              <div class="h-2">
                <span
                  *ngIf="
                    (registrationForm.get('passwordRepeat')?.touched &&
                      (registrationForm
                        .get('passwordRepeat')
                        ?.hasError('required') ||
                        registrationForm
                          .get('passwordRepeat')
                          ?.hasError('pattern'))) ||
                    (registrationForm.get('passwordRepeat')?.invalid &&
                      registrationForm?.invalid &&
                      required)
                  "
                  class="text-red-600 text-sm mt-1"
                >
                  <ng-container
                    *ngIf="
                      registrationForm
                        .get('passwordRepeat')
                        ?.hasError('required')
                    "
                  >
                    Pole jest wymagane.
                  </ng-container>
                  <ng-container
                    *ngIf="
                      registrationForm
                        .get('passwordRepeat')
                        ?.hasError('pattern')
                    "
                  >
                    Hasło musi zawierać conajmniej 8 znaków.
                  </ng-container>
                </span>
              </div>
            </div>
            <div class="flex items-center">
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input
                    id="terms"
                    aria-describedby="terms"
                    type="checkbox"
                    formControlName="terms"
                    required
                    class="form-control w-4 h-4 border border-gray-300 rounded focus:ring-0 focus:ring-offset-0 bg-gray-50 focus:outline-0 dark:bg-gray-700 dark:border-gray-600"
                  />
                </div>
              </div>
              <div class="ml-3 text-sm">
                <label class="font-light text-gray-900 dark:text-gray-300">
                  Akceptuję
                  <a
                    (click)="navigateToTerms()"
                    class="cursor-pointer font-medium text-primary-900 hover:underline dark:text-primary-500"
                  >
                    Regulamin
                  </a>
                </label>
              </div>
            </div>
            <button
              type="submit"
              class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Utwórz konto
            </button>
            <p class="text-sm font-light text-gray-900 dark:text-gray-400">
              Masz już konto?
              <a
                class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-blue-500"
                (click)="navigateToLogin()"
              >
                Zaloguj się
              </a>
            </p>
          </form>
        </div>
      </div>
    </ng-template>
  </div>
</div>
