<div class="flex flex-grow min-h-full justify-center items-center">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding backdrop-filter bg-opacity-40 duration-500 text-gray-900 px-3.5 w-[500px] dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:backdrop-filter dark:bg-opacity-40 dark:text-gray-100"
  >
    <app-loading-ball *ngIf="loadingBall; else form"></app-loading-ball>
    <ng-template #form>
      <div class="px-6 py-8 mx-auto lg:py-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
          >
            Zmiana hasła
          </h1>
          <!-- PASSWORD CHANGE FORM -->
          <form
            class="space-y-6"
            [formGroup]="newPasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <div>
              <label
                for="newPassword"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Nowe hasło
              </label>
              <div class="relative">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  id="newPassword"
                  placeholder="••••••••"
                  formControlName="newPassword"
                  required
                  class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
                <button
                  mat-icon-button
                  class="absolute right-2 top-1/2 -translate-y-1/2"
                  (click)="hidePassword = !hidePassword"
                  type="button"
                  aria-label="Toggle password visibility"
                >
                  <mat-icon>
                    {{ hidePassword ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
              </div>
              <div class="h-2">
                <span
                  *ngIf="
                    (newPasswordForm.get('newPassword')?.touched &&
                      (newPasswordForm
                        .get('newPassword')
                        ?.hasError('required') ||
                        newPasswordForm
                          .get('newPassword')
                          ?.hasError('pattern'))) ||
                    (newPasswordForm.get('newPassword')?.invalid &&
                      newPasswordForm?.invalid &&
                      required)
                  "
                  class="text-red-600 text-sm mt-1"
                >
                  <ng-container
                    *ngIf="
                      newPasswordForm.get('newPassword')?.hasError('required')
                    "
                  >
                    Pole jest wymagane.
                  </ng-container>
                  <ng-container
                    *ngIf="
                      newPasswordForm.get('newPassword')?.hasError('pattern')
                    "
                  >
                    Hasło musi zawierać conajmniej 8 znaków.
                  </ng-container>
                </span>
              </div>
            </div>

            <div>
              <label
                for="newPasswordRepeat"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Powtórz nowe hasło
              </label>
              <div class="relative">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  id="newPasswordRepeat"
                  placeholder="••••••••"
                  formControlName="newPasswordRepeat"
                  required
                  class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
                <button
                  mat-icon-button
                  class="absolute right-2 top-1/2 -translate-y-1/2"
                  (click)="hidePassword = !hidePassword"
                  type="button"
                  aria-label="Toggle password visibility"
                >
                  <mat-icon>
                    {{ hidePassword ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
              </div>
              <div class="h-2">
                <span
                  *ngIf="
                    (newPasswordForm.get('newPasswordRepeat')?.touched &&
                      (newPasswordForm
                        .get('newPasswordRepeat')
                        ?.hasError('required') ||
                        newPasswordForm
                          .get('newPasswordRepeat')
                          ?.hasError('pattern'))) ||
                    (newPasswordForm.get('newPasswordRepeat')?.invalid &&
                      newPasswordForm?.invalid &&
                      required)
                  "
                  class="text-red-600 text-sm mt-1"
                >
                  <ng-container
                    *ngIf="
                      newPasswordForm
                        .get('newPasswordRepeat')
                        ?.hasError('required')
                    "
                  >
                    Pole jest wymagane.
                  </ng-container>
                  <ng-container
                    *ngIf="
                      newPasswordForm
                        .get('newPasswordRepeat')
                        ?.hasError('pattern')
                    "
                  >
                    Hasło musi zawierać conajmniej 8 znaków.
                  </ng-container>
                </span>
              </div>
            </div>

            <div class="flex justify-center w-full gap-5">
              <button
                (click)="navigateToSettings()"
                class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Powrót
              </button>

              <button
                type="submit"
                class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Zmień
              </button>
            </div>
            <!-- <div class="h-6 text-center rounded-md bg-red-600">
            <span class="text-black font-bold text-sm mt-1">
              Pole jest wymagane.
            </span>
          </div> -->
          </form>
          <!-- FORGOT PASSWORD FORM -->
        </div>
      </div>
    </ng-template>
  </div>
</div>
