input.ng-invalid.ng-touched {
  border: 1px solid red;
}

p-inputnumber.ng-invalid.ng-touched {
  border: 1px solid red;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

form.ng-invalid.ng-submitted {
  input.ng-invalid {
    border: 1px solid red;
  }

  p-inputnumber.ng-invalid {
    border: 1px solid red;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  p-selectButton.ng-invalid {
    display: flex;
    border: 1px solid red !important;
    border-radius: 6px;
  }
}
