<div class="flex min-h-full">
  <div
    class="flex justify-center min-w-full bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="w-full py-0 mx-2">
      <div class="flex justify-center pt-3">
        <h1 class="p-5 font-bold dark:text-white text-black text-3xl">
          Dzisiejsze mecze
        </h1>
      </div>

      <div
        *ngIf="this.matches.length === 0"
        class="flex justify-center items-center my-3"
      >
        <p class="font-bold text-xl text-red-600">Brak meczów na dziś</p>
      </div>

      <ng-container *ngFor="let match of matches">
        <app-loading-ball *ngIf="loadingBall; else matches"></app-loading-ball>
        <ng-template #matches>
          <app-single-match
            [match]="match"
            (matchDialogOpened)="openMatchDialog($event)"
            (matchStarted)="startMatch($event)"
          ></app-single-match>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>

<p-dialog
  header="Dodaj bramkę"
  [(visible)]="showMatchDialog"
  [style]="{ width: '80vw' }"
>
  <div class="card">
    <div class="flex justify-center items-center gap-3 mt-3">
      <div
        class="gap-3 lg:gap-10 items-center hidden lg:flex"
        style="width: 30%"
      >
        <img [src]="match?.homeTeam?.img" alt="HomeTeamImg" class="w-24 h-24" />
        <h1 class="text-lg font-bold">
          {{ match?.homeTeam?.name }}
        </h1>
      </div>
      <div class="flex justify-center items-center gap-5" style="width: 10%">
        <div
          class="text-5xl font-bold p-5 bg-black text-white dark:bg-white dark:text-black"
        >
          {{ match?.homeTeamGoals ? match.homeTeamGoals.length : "0" }}
        </div>
        <div class="text-2xl">:</div>
        <div
          class="text-5xl font-bold p-5 bg-black text-white dark:bg-white dark:text-black"
        >
          {{ match?.awayTeamGoals ? match.awayTeamGoals.length : "0" }}
        </div>
      </div>
      <div
        class="gap-3 lg:gap-10 items-center justify-end hidden lg:flex"
        style="width: 30%"
      >
        <h1 class="text-lg font-bold">
          {{ match?.awayTeam?.name }}
        </h1>
        <img [src]="match?.awayTeam?.img" alt="AwayTeamImg" class="w-24 h-24" />
      </div>
    </div>
    <form [formGroup]="form">
      <div
        class="flex flex-col flex-grow justify-center items-center gap-3 py-5 w-100 lg:w-1/2 mx-auto"
      >
        <p-selectButton
          [options]="teamsOptions"
          formControlName="choosenTeam"
          optionLabel="label"
          [className]="'flex flex-grow min-w-full justify-center'"
        >
          <ng-template let-team pTemplate>
            <div class="flex gap-5 justify-center items-center">
              <img [src]="team.value.img" class="w-10 h-10" alt="logo" />
              <h1
                class="font-bold text-black dark:text-white text-lg hidden lg:block"
              >
                {{ team.value.name }}
              </h1>
            </div>
          </ng-template>
        </p-selectButton>

        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-clock"></i>
          </span>
          <p-inputNumber
            formControlName="choosenMinute"
            mode="decimal"
            id="passMinute"
            [showButtons]="true"
            inputId="minmax-buttons"
            [min]="0"
            [max]="90"
            placeholder="Podaj minutę"
          >
          </p-inputNumber>
        </div>

        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <input
            pInputText
            formControlName="choosenScorer"
            placeholder="Podaj strzelca"
          />
        </div>
      </div>
      <div class="flex justify-center items-center gap-3 mt-3">
        <button
          type="reset"
          (click)="closeMatchDialog()"
          class="w-1/3 lg:w-1/4 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Zamknij
        </button>
        <button
          type="reset"
          (click)="finishMatch(match)"
          class="w-1/3 lg:w-1/4 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        >
          Zakończ
        </button>
        <button
          (click)="saveGoalScorer()"
          type="text"
          class="w-1/3 lg:w-1/4 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          Dodaj
        </button>
      </div>
    </form>
  </div>
</p-dialog>
