<div class="flex min-h-full">
  <div
    class="flex justify-center min-w-full bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="w-full py-0 mx-2">
      <div class="flex justify-center pt-3">
        <h1 class="p-5 font-bold dark:text-white text-black text-3xl">
          Dzisiejsze mecze
        </h1>
      </div>

      <div
        *ngIf="this.matches.length === 0"
        class="flex justify-center items-center my-3"
      >
        <p class="font-bold text-xl text-red-600">Brak meczów na dziś</p>
      </div>

      <ng-container *ngFor="let match of matches">
        <div class="bg-white dark:bg-black rounded-lg flex p-2 my-3">
          <div class="flex flex-grow items-center">
            <div class="flex flex-grow justify-between items-center">
              <div class="flex flex-col items-center ml-3" style="width: 5%">
                <h1 class="font-bold">{{ match.startTime }}</h1>
              </div>
              <div class="flex gap-10 items-center" style="width: 35%">
                <img
                  [src]="match.homeTeam.img"
                  alt="HomeTeamImg"
                  class="w-12 h-12"
                />
                <h1 class="text-lg font-bold">
                  {{ match.homeTeam.name }}
                </h1>
              </div>
              <div
                class="flex justify-center items-center gap-5"
                style="width: 10%"
              >
                <div class="text-2xl font-bold">
                  {{ match?.homeTeamGoals ? match.homeTeamGoals.length : "" }}
                </div>
                <div>:</div>
                <div class="text-2xl font-bold">
                  {{ match?.awayTeamGoals ? match.awayTeamGoals.length : "" }}
                </div>
              </div>
              <div
                class="flex gap-10 items-center justify-end"
                style="width: 35%"
              >
                <h1 class="text-lg font-bold">
                  {{ match.awayTeam.name }}
                </h1>
                <img
                  [src]="match.awayTeam.img"
                  alt="AwayTeamImg"
                  class="w-12 h-12"
                />
              </div>
              <div
                class="flex gap-10 justify-end items-center"
                style="width: 5%"
              ></div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
