<div class="flex justify-center items-center">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding backdrop-filter bg-opacity-40 duration-500 text-gray-900 px-3.5 w-[500px] dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:backdrop-filter dark:bg-opacity-40 dark:text-gray-100"
  >
    <app-loading-ball *ngIf="loadingBall; else form"></app-loading-ball>
    <ng-template #form>
      <div class="px-6 py-8 mx-auto lg:py-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
          >
            Edycja zdjęcia profilowego
          </h1>

          <div class="flex items-center justify-center w-full">
            <label
              for="dropzone-file"
              class="flex flex-col items-center justify-center w-full h-64 border-2 border-white border-dashed rounded-lg cursor-pointer bg-blue-600 dark:bg-blue-600 hover:bg-blue-700 dark:hover:bg-blue-700"
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg
                  class="w-8 h-8 mb-4 text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 16"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                  />
                </svg>
                <p class="mb-2 text-sm text-white">
                  <span class="font-semibold">Kliknij</span>, aby przesłać lub
                  przeciągnij i upuść
                </p>
                <p class="text-xs text-white">
                  SVG, PNG, JPG or GIF (MAX. 800x400px)
                </p>
              </div>
              <input
                [(ngModel)]="fileName"
                id="dropzone-file"
                type="file"
                class="hidden"
              />
              <p class="text-white text-center">{{ fileName }}</p>
            </label>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
