<div class="flex flex-col justify-center items-center grow">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 px-3.5 w-100 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="px-6 sm:py-8 py-0 mx-auto lg:py-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
        >
          Portal RegionalnieLive
        </h1>
        <div>
          <div class="w-100 flex justify-center">
            <img
              src="../../../../assets/images/logo.png"
              alt="Logo"
              class="w-52"
            />
          </div>

          <div class="w-100 hidden sm:flex justify-center">
            <div class="w-fit flex rounded-md">
              <img
                src="../../../../assets/images/teams/brzezina_osiek.png"
                alt="Brzezina Osiek"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/gornik_brzeszcze.png"
                alt="Gornik Brzeszcze"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/hejnal_kety.png"
                alt="Hejnal Kety"
                class="w-12"
              />

              <img
                src="../../../../assets/images/teams/korona_harmeze.png"
                alt="Korona Harmeze"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/lks_jawiszowice.png"
                alt="LKS Jawiszowice"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/lks_rajsko.png"
                alt="LKS Rajsko"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/polanka_wielka.png"
                alt="Polanka Wielka"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/poreba_wielka.png"
                alt="Poreba Wielka"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/unia_oswiecim.png"
                alt="Unia Oswiecim"
                class="w-12"
              />
              <img
                src="../../../../assets/images/teams/zaborzanka_zaborze.png"
                alt="Zaborzanka Zaborze"
                class="w-12"
              />
            </div>
          </div>
        </div>

        <div class="w-100 flex justify-center">
          <div class="sm:w-7/12 w-100 flex justify-center">
            <p class="text-center font-semibold text-lg">
              Tutaj sprawdzisz wyniki twoich lokalnych rozgrywek
            </p>
          </div>
        </div>

        <div class="flex justify-center mt-3">
          <button
            type="submit"
            class="sm:w-1/2 w-100 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            (click)="navigateToLogin()"
          >
            Przejdź do logowania
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
