// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$regionalnielive-primary: mat.define-palette(mat.$indigo-palette);
$regionalnielive-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$regionalnielive-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$regionalnielive-theme: mat.define-light-theme(
  (
    color: (
      primary: $regionalnielive-primary,
      accent: $regionalnielive-accent,
      warn: $regionalnielive-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($regionalnielive-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-starting-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-navbar {
  display: flex;
}

app-about-us,
app-contact,
app-privacy-policy,
app-terms,
app-starting-page,
app-settings,
app-starting-page,
app-change-username,
app-change-profile-logo,
app-change-password,
app-change-email-address {
  width: fit-content;
  overflow-y: auto;
  margin: auto;

  & {
    --sb-track-color: rgb(229, 231, 235);
    --sb-thumb-color: rgb(28, 100, 242);
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  &::-webkit-scrollbar {
    width: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
  }
}

.p-toast {
  margin-top: 40px;
  z-index: 100;
}
