<footer
  class="flex mt-2 z-20 w-full p-4 shadow md:flex md:items-center md:justify-between md:p-6 bg-gray-200 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-50 dark:bg-gray-800 dark:bg-clip-padding dark:backdrop-filter dark:backdrop-blur-lg dark:bg-opacity-70"
>
  <span class="text-sm text-black sm:text-center dark:text-white"
    >© 2024
    <a class="hover:underline cursor-pointer">RegionalnieLive™.&nbsp;</a>
    Wszelkie prawa zastrzeżone.
  </span>
  <ul
    class="flex flex-wrap items-center cursor-pointer mt-3 text-sm font-medium text-black dark:text-white sm:mt-0"
  >
    <li>
      <a class="mr-4 hover:underline md:mr-6" (click)="navigateToAboutUs()"
        >O nas</a
      >
    </li>
    <li>
      <a
        class="mr-4 hover:underline md:mr-6"
        (click)="navigateToPrivacyPolicy()"
        >Polityka prywatności</a
      >
    </li>
    <li>
      <a class="hover:underline" (click)="navigateToContact()">Kontakt</a>
    </li>
  </ul>
</footer>
