<div class="flex flex-grow min-h-full" id="scroll-top">
  <div
    class="flex justify-center min-w-full bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="w-1/2 py-0 mx-auto">
      <div class="my-3">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-lg px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          (click)="addNews()"
        >
          Dodaj wiadomość
        </button>
      </div>
      <div
        *ngIf="this.messages.length === 0"
        class="flex justify-center items-center my-3"
      >
        <p class="font-bold text-xl text-red-600">Brak wiadomości</p>
      </div>

      <ng-container *ngFor="let message of results">
        <div class="bg-white dark:bg-black rounded-lg flex p-3 my-3">
          <div class="h-100 mt-1 items-start mr-3 text-sm rounded-full">
            <img
              class="w-12 h-12 rounded-full bg-white"
              src="{{
                message.user?.img !== ''
                  ? message.user?.img
                  : '../../../../assets/images/userProfile.png'
              }}"
              alt="User Photo"
            />
          </div>
          <div class="flex flex-col flex-grow">
            <div class="flex justify-between items-center">
              <h1 class="text-lg font-bold">
                {{ message.user.username }}
              </h1>
              <h1 class="text-lg">
                {{ message.date }}
              </h1>
            </div>
            <div class="message" [innerHTML]="message.message"></div>
          </div>
        </div>
      </ng-container>
      <p-paginator
        *ngIf="this.messages?.length"
        (onPageChange)="onPageChange($event)"
        [first]="0"
        [rows]="10"
        [totalRecords]="this.totalRecords"
        [rowsPerPageOptions]="rowsPerPageOptions"
      ></p-paginator>
    </div>
  </div>
</div>

<p-toast></p-toast>

<p-dialog
  header="Nowa wiadomość"
  [(visible)]="visible"
  [style]="{ width: '30vw' }"
>
  <div class="card">
    <p-editor
      [(ngModel)]="message"
      [style]="{ height: '200px' }"
      ngDefaultControl
    >
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
        </span> </ng-template
    ></p-editor>
  </div>
  <div class="flex justify-center items-center gap-3 mt-3">
    <button
      (click)="this.visible = false; this.message = ''"
      class="w-1/4 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Anuluj
    </button>
    <button
      (click)="saveTheMessage()"
      class="w-1/4 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Dodaj
    </button>
  </div>
</p-dialog>
