<div class="flex flex-col justify-center items-center">
  <div
    class="bg-gray-100 rounded-md bg-clip-padding bg-opacity-40 duration-500 text-gray-900 dark:bg-gray-800 dark:rounded-md dark:bg-clip-padding dark:bg-opacity-40 dark:text-gray-100"
  >
    <div class="px-6 sm:py-8 py-0 mx-auto lg:py-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white"
        >
          Polityka Prywatności
        </h1>
        <div class="w-100 flex justify-center">
          <img
            src="../../../../assets/images/logo.png"
            alt="Logo"
            class="w-52"
          />
        </div>

        <div class="w-100 sm:flex gap-3 justify-center flex-col">
          <div>
            <h1 class="text-lg font-bold">Gromadzenie Danych</h1>
            <p class="indent-5">
              Dane Rejestracyjne: Podczas rejestracji na portalu zbieramy dane,
              takie jak adres e-mail i nazwa użytkownika. Te informacje
              pozwalają nam dostarczać spersonalizowane treści oraz informacje o
              najnowszych wydarzeniach.
            </p>
            <p class="indent-5">
              Dane o Użytkowaniu: Automatycznie gromadzimy informacje o tym, jak
              korzystacie z portalu, takie jak przeglądane strony, meczowe
              relacje, wyniki oraz czas spędzony na platformie. Te dane pomagają
              nam dostosować treści do waszych preferencji.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Wykorzystywanie Danych</h1>
            <p class="indent-5">
              Dostarczanie Treści: Dane użytkowników wykorzystujemy do
              dostarczania relacji na żywo z meczów, wyników oraz innych treści
              związanych z piłką nożną.
            </p>
            <p class="indent-5">
              Personalizacja: Analizujemy dane o użytkowaniu, aby lepiej
              zrozumieć wasze preferencje i dostarczać spersonalizowane treści
              oraz sugestie.
            </p>
            <p class="indent-5">
              Komunikacja: Wykorzystujemy adresy e-mail do wysyłania
              powiadomień, aktualizacji i informacji związanych z portalem.
              Możecie zrezygnować z subskrypcji w dowolnym momencie.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Ochrona Danych</h1>
            <p class="indent-5">
              Bezpieczeństwo: Wdrażamy środki bezpieczeństwa technicznego i
              organizacyjnego, aby chronić wasze dane przed nieautoryzowanym
              dostępem, utratą lub uszkodzeniem.
            </p>
            <p class="indent-5">
              Przekazywanie Danych: Nie przekazujemy waszych danych osobowych
              stronom trzecim bez waszej zgody, chyba że jest to niezbędne do
              świadczenia usług (np. dostarczanie relacji meczowych za
              pośrednictwem partnerów technicznych).
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Prawa Użytkowników</h1>
            <p class="indent-5">
              Prawo do Dostępu: Macie prawo żądać dostępu do waszych danych
              osobowych, jakie mamy o was zapisane.
            </p>
            <p class="indent-5">
              Prawo do Poprawiania: Jeśli wasze dane są nieprawidłowe lub
              niekompletne, macie prawo do ich poprawienia lub uzupełnienia.
            </p>
            <p class="indent-5">
              Prawo do Usunięcia: W niektórych przypadkach macie prawo zażądać
              usunięcia waszych danych osobowych z naszych systemów.
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">Wizja Rozwoju</h1>
            <p class="indent-5">
              Nasza pasja do piłki nożnej napędza nas do ciągłego rozwoju.
              Planujemy rozszerzyć nasz zakres relacji na żywo, wprowadzić
              interaktywne elementy dla użytkowników oraz dostarczyć jeszcze
              więcej zaawansowanych statystyk i analiz meczów.
            </p>
          </div>

          <div class="flex justify-center mt-3">
            <button
              type="submit"
              class="sm:w-1/2 w-100 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              (click)="navigateToDashboard()"
            >
              Powrót
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
